.registration_page{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: white;
}
.registration_page .form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.registration_page .header{
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media(max-width: 400px) {

  .registration_page .form {
    margin-top: -1rem !important;
  }
  .registration_page .label{
    font-size: 1.5rem !important;
  }
}

@media(max-width: 620px) {
  .registration_page .header {
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
    height: auto;
  }
  .registration_page .br{
    display: none;
  }
  .registration_page a {
    font-size: 0.9rem;
  }
}

.registration_page .logo img {
  transform: rotate(0);
  width: 18rem !important;
  margin-left: 0 !important;
  margin-top: 0rem !important;
}

.registration_page .logo {
  width: auto !important;
  height: auto !important;
}

.registration_page .br{
  width: .5rem;
}

.registration_page .paper-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 41rem;
  height: 26rem;
  padding-top: 2rem;
}

.registration_page .navigation-list{
  display: none;
}

.registration_page .paper-form .label {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.registration_page .input{
  width: 49%;
  color: black !important;
  
  min-width: 12rem !important;
  flex-grow: 1;
  margin-left: 0.1rem;
}

.registration_page .buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 70%;
}
.registration_page .buttons a{
  margin-top: .9rem;
  color: black;
}

.registration_page .row{
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
}
.registration_page .paper-form .button{
  height: 2.55rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  border-radius: 0.3rem;
  border: 0.05rem solid black;
  font-weight: 700;
  width: 12.5rem;
}

.registration_page .paper-form .button:hover {
  color: black;
  background-color: white;
  transition: .2s ease;
}

@media(max-width: 600px) {
  .registration_page .logo img {
    width: 15rem !important;
  }

  .registration_page .paper-form {
    width: 100%;
    height: 38rem;
  }

  .registration_page .paper-form .label {
    margin-bottom: 1rem;
  }

  .registration_page .input{
    width: 80%;
  }

  .registration_page .buttons{
    margin-top: 1.5rem !important;
  }

}
@media(max-width: 400px){
  .registration_page .logo img {
    width: 12rem !important;
  }
  .registration_page .paper-form {
    height: 36rem;
  }
  .registration_page .input {
    height: 2.7rem;
  }
  .registration_page .buttons .button {
    height: 2.5rem;
  }
  .registration_page .paper-form .label {
    margin-bottom: 1rem !important;
  }
}
