@media(max-width: 480px) {
  .header {
    flex-wrap: wrap;
    align-content: flex-start;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 9rem;
  margin-top: 2rem;
}
